/*
!.gitignore
!deno.json
!docker-compose.yml
!mod.ts
!README.md
!app.html
!static
!src
src/**/*.*
!src/**/*.ts
!src/**/LICENSE
!components
components/**/*.*
!components/**/*.svelte
!routes
routes/**/*.*
!routes/**/*.ts
!routes/**/*.svelte
