/*
!.gitignore
!deno.jsonc
!docker-compose.yml
!mod.ts
!README.md
!static
!src
src/**/*.*
!src/**/*.ts
!src/**/LICENSE
!src/sqlite/schema.sql
!components
components/**/*.*
!components/**/*.html
!routes
routes/**/*.*
!routes/**/*.ts
!routes/**/*.html
