<script context="component">
  const getBookmarkEntity = (bookmark) => {
    const { episode, podcast, artist, album, song } = bookmark;
    const entity = {
      type: bookmark.ids.length === 3 ? "audiobook" : "podcast",
      ids: bookmark.ids,
      titles: [],
      duration: 0,
      bookmark,
    };
    if (entity.type === "podcast") {
      entity.titles = [podcast.title, episode.title];
      entity.duration = episode.duration;
    } else {
      entity.titles = [artist.title, album.title, song.title];
      entity.duration = song.duration;
    }
    return entity;
  }

  entity = getBookmarkEntity(entity);

  const progress = Math.round((100 / entity.duration) * entity.bookmark.position);

  const parentHref =
    entity.type == 'podcast'
      ? `/podcasts/${entity.ids[0]}/`
      : `/audiobooks/${entity.ids[0]}/${entity.ids[1]}/`;

  const dataAudio = `/api/audio/${entity.ids.join('/')}/`;
  const dataDelete = `/api/bookmarks/${entity.ids.join('/')}/`;
  const dataHref =
    entity.type === 'podcast' ? `/episodes/${entity.ids[1]}/` : `/songs/${entity.ids.join('/')}/`;
</script>

<article id="bookmark-{{entity.ids.at(-1)}}" data-audio="{{dataAudio}}" data-delete="{{dataDelete}}" data-href="{{dataHref}}" class="Stack gap-xs">
  <p>
    <ssr-if condition="entity.type === 'podcast'">
      <img alt="{{entity.titles[0]}}" src="/api/artwork/{{entity.ids[0]}}/" class="Icon" decoding="async" fetchpriority="low" loading="lazy" />
    </ssr-if>
    <span>{{entity.titles.at(-1)}}</span>
  </p>
  <div class="flex flex-wrap jc-between gap-xs ai-center">
    <div class="small flex flex-wrap gap-xs ai-baseline">
      <data class="monospace color-subtle" value="{{entity.bookmark.position}}">
        {{entity.bookmark.positionFormat}}
      </data>
      <a href="{{parentHref}}">
        {{entity.titles.at(-2)}}
      </a>
    </div>
    <div class="flex flex-wrap gap-2xs ai-center">
      <pod-button icon small type="button" data-action="purge" classes="{{['hidden']}}" label="remove offline download">
        <ssr-fragment slot="icon"><icon-trash /></ssr-fragment>
      </pod-button>
      <pod-button icon small type="button" data-action="download" classes="{{['hidden']}}" label="download for offline play">
        <ssr-fragment slot="icon"><icon-download /></ssr-fragment>
      </pod-button>
      <div class="Button-group mb-0">
        <pod-button icon small type="button" data-action="delete" classes="{{['Button--warn']}}" label="remove bookmark">
          <ssr-fragment slot="icon"><icon-bookmarkx /></ssr-fragment>
        </pod-button>
      </div>
      <pod-button icon small type="button" data-action="play" label="resume playback">
        <ssr-fragment slot="icon"><icon-play /></ssr-fragment>
      </pod-button>
    </div>
  </div>
  <progress class="Progress" max="100" value="{{progress}}"></progress>
</article>
