<sauropod-footer class="Grid | Footer">
  <footer>
    <h2 hidden>Information</h2>
    <div class="Footer__main | Stack gap-s ji-center">
      <p>
        <small>
          <span>{{app}} &copy; {{new Date().getFullYear()}}</span>
          <a href="https://dbushell.com/" rel="noreferrer" target="_blank">
            <span>David Bushell</span>
          </a>
          <span> • </span>
          <a href="https://github.com/dbushell/sauropod" rel="noreferrer" target="_blank">
            <span>GitHub</span>
          </a>
        </small>
      </p>
      <p hidden class="monospace"></p>
      <p><small>{{version}}</small></p>
    </div>
  </footer>
</sauropod-footer>
