@font-face {
  font-family: 'RedditMono';
  src: url('/fonts/RedditMono-Light.woff2?v=%DEPLOY_HASH%') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  /* Hyphen, numbers, and colon */
  unicode-range: U+002D, U+0030-003A;
}

:root {
  --color-primary: light-dark(oklch(75% 0.172 150), oklch(75% 0.172 150));
  --color-secondary: light-dark(oklch(70% 0.162 250), oklch(70% 0.162 250));
  --color-red: oklch(60% 0.2 18);
  --font-monospace: 'RedditMono', monospace;

  &.navigating * {
    cursor: wait;
  }
}

* {
  touch-action: manipulation;
}

body {
  --font-size-00: clamp(
    calc(14 * var(--rem)),
    calc((14 * var(--rem)) + (16 - 14) * var(--fluid)),
    calc(16 * var(--rem))
  );
}

:is(small, .small) {
  --font-size: var(--font-size-00);
}

:is(sauropod-bookmarks, sauropod-episodes, sauropod-header) {
  display: contents;
}

[data-contents] {
  display: contents;
}

[hidden] {
  display: none !important;
}

img:where([src*='/artwork/']) {
  --size: calc(2 * var(--font-size) * var(--line-height));
  block-size: var(--size);
  border-radius: 5px;
  inline-size: var(--size);
  overflow: clip;
}

h1 {
  --font-size: var(--font-size-3);
  color: var(--color-anchor);

  & a {
    text-decoration: none;
  }
}

.p {
  line-height: inherit;
}

.mis-auto {
  margin-inline-start: auto;
}

.color-warn {
  color: var(--color-red);
}

.color-success {
  color: var(--color-primary);
}

.color-active {
  color: var(--color-secondary);
}

.Button--warn {
  --color-primary: var(--color-red);
  --color-secondary: var(--color-red);
}

.Progress {
  --size: 2px;
}

.Icon {
  aspect-ratio: 1 / 1;
  fill: currentColor;
}

:where(:not(.Button)) > .Icon {
  --size: calc(var(--font-size) * var(--line-height));
  display: inline-block;
  block-size: var(--size);
  inline-size: var(--size);
  transform: scale(0.75);
  vertical-align: top;

  &[src] {
    transform: none;
  }
}

.List {
  margin-inline: calc(-0.5 * var(--grid-column-gap));

  & li {
    display: contents;

    &:not(:has(*)) {
      display: none;
    }

    &:first-child:not(:only-child) {
      display: none;
    }

    & > * {
      border: inherit;
      inline-size: inherit;
      min-inline-size: inherit;
      padding: inherit;
    }
  }

  & progress[value='0'] {
    display: none;
  }
}

.Button--skip {
  & span {
    pointer-events: none;
    user-select: none;

    &:not(.hidden) {
      font-size: 8px;
      font-family: var(--font-monospace);
      font-weight: 400;
      inset-block-start: 50%;
      inset-inline-start: 50%;
      line-height: 1;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }
}

.Container {
  & :is(aside, main) {
    grid-column: inner-start / inner-end;
  }
}

sauropod-header {
  & [data-action='stop']:disabled {
    display: none;
  }

  & .Button {
    padding-inline: 0;
    inline-size: calc(1.1 * var(--button-height));
  }
}

sauropod-player {
  position: sticky;
  inset-block-start: 0;
  z-index: 1;

  & [data-action='pause']:disabled {
    display: none;
  }

  &:not(:has([data-action='pause']:disabled)) {
    & [data-action='play']:disabled {
      display: none;
    }
  }

  & [role='tooltip'] {
    --offset: calc(
      (100% - var(--size-5)) / var(--range-max) * var(--range-value)
    );

    color: var(--color-bg-1);
    display: block;
    background: var(--color-primary);
    background-image: linear-gradient(
      in oklch 45deg,
      var(--color-secondary),
      var(--color-primary)
    );
    border-radius: 8px;
    font-size: var(--font-size-0);
    font-weight: 700;
    inset-block-end: calc(100% + 6px);
    inset-inline-start: var(--offset);
    line-height: 1;
    padding: 6px 4px;
    position: absolute;
    text-transform: uppercase;
    transform: translateX(-25%);
    z-index: 99;
  }

  & :has(.Progress + .Range) {
    position: relative;
  }

  & .Progress {
    --size: var(--size-5);
    margin-block-end: calc(-1 * var(--size));
  }

  & .Range {
    --background-color: 0% 0 0 / 0;
  }

  & .Seek {
    &[hidden] {
      display: none;
    }
  }

  & .Button-group {
    flex-grow: 1;
    flex-wrap: nowrap;
    margin: 0;

    & .Button {
      --icon-scale: 1;
      flex-grow: 1;
      max-inline-size: min(160px, 32%);
      padding-inline: 0;
      position: relative;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}

sauropod-player {
  view-transition-name: player;
}

sauropod-main {
  --background-opacity: 1;
  view-transition-name: main;
}

::view-transition-group(player) {
  z-index: 1000;
}

::view-transition-group(main) {
  z-index: 100;
}

::view-transition-new(main) {
  animation: 500ms fade-in;
  animation-fill-mode: forwards;
  transform-origin: 50% 0;
}

::view-transition-old(main) {
  animation: 500ms fade-out;
  animation-fill-mode: forwards;
  transform-origin: 50% 0;
}
